# Aprofundado na biblioteca `pandas` do `Python`

In [3]:
# Importando a biblioteca pandas
import pandas as pd

In [4]:
df = pd.DataFrame(
    {
        "Name":[
            "Lucas Ribeiro",
            "Elenice Tizziani",
            "Fernando Tizziani",
            "Karem Nepomuceno",
            "Ana Clara Nepomuceno",
            "Paula vieira",
            "Ciro Nepomuceno",
            "Maria Eduarda Nepomuceno",
            "JOse Caçdeira",
            "Augusta Ribeiro",

    ],
        "idade":[45, 48, 25, 12, 18, 45, 80, 16, 73, 70],
        "cidade":[
            "Araçuai","Capanema",
            "Vilhena","Vilhena",
            "Belo Horizonte","Rio de Janeiro",
            "Araçuai","Curitiba",
            "Araçuai","Araçuai"
        ],
        "estado":[
            "MG","PR",
            "RO","RO",
            "MG","RJ",
            "MG","PR",
            "MG","MG",
        ],
        "sexo":[
            "M","F",
            "M","F",
            "F","F",
            "M","F",
            "M","F"
        ],
        "grau de instrução":[
            "Mestrado","Doutorado",
            "Superior Completo","Ensino Médio",
            "Superior Completo","Ensino Médio",
            "Ensino Fundamental Incompleto","Ensino Médio",
            "Ensino Fundamental Incompleto","Ensino Fundamental Incompleto"
        ],


}
)

In [5]:
df

,Name,idade,cidade,estado,sexo,grau de instrução
0,Lucas Ribeiro,45,Araçuai,MG,M,Mestrado
1,Elenice Tizziani,48,Capanema,PR,F,Doutorado
2,Fernando Tizziani,25,Vilhena,RO,M,Superior Completo
3,Karem Nepomuceno,12,Vilhena,RO,F,Ensino Médio
4,Ana Clara Nepomuceno,18,Belo Horizonte,MG,F,Superior Completo
5,Paula vieira,45,Rio de Janeiro,RJ,F,Ensino Médio
6,Ciro Nepomuceno,80,Araçuai,MG,M,Ensino Fundamental Incompleto
7,Maria Eduarda Nepomuceno,16,Curitiba,PR,F,Ensino Médio
8,JOse Caçdeira,73,Araçuai,MG,M,Ensino Fundamental Incompleto
9,Augusta Ribeiro,70,Araçuai,MG,F,Ensino Fundamental Incompleto