# Aprofundado na biblioteca `pandas` do `Python`

In [66]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\usuario\anaconda3\envs\anbiente-teste\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\usuario\anaconda3\envs\anbiente-teste\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [67]:
# Importando a biblioteca pandas
import pandas as pd

In [68]:
df = pd.DataFrame(
    {
        "Name":[
            "Lucas Ribeiro",
            "Elenice Tizziani",
            "Fernando Tizziani",
            "Karem Nepomuceno",
            "Ana Clara Nepomuceno",
            "Paula vieira",
            "Ciro Nepomuceno",
            "Maria Eduarda Nepomuceno",
            "JOse Caçdeira",
            "Augusta Ribeiro",

    ],
        "idade":[45, 48, 25, 12, 18, 45, 32, 16, 73, 70],
        "cidade":[
            "Araçuai","Capanema",
            "Vilhena","Vilhena",
            "Belo Horizonte","Rio de Janeiro",
            "Araçuai","Curitiba",
            "Araçuai","Araçuai"
        ],
        "estado":[
            "MG","PR",
            "RO","RO",
            "MG","RJ",
            "MG","PR",
            "MG","MG",
        ],
        "sexo":[
            "M","F",
            "M","F",
            "F","F",
            "M","F",
            "M","F"
        ],
        "grau de instrução":[
            "Mestrado","Doutorado",
            "Superior Completo","Ensino Médio",
            "Superior Completo","Ensino Médio",
            "Ensino Fundamental Incompleto","Ensino Médio",
            "Ensino Fundamental Incompleto","Ensino Fundamental Incompleto"
        ],


}
)

In [69]:
df

,Name,idade,cidade,estado,sexo,grau de instrução
0,Lucas Ribeiro,45,Araçuai,MG,M,Mestrado
1,Elenice Tizziani,48,Capanema,PR,F,Doutorado
2,Fernando Tizziani,25,Vilhena,RO,M,Superior Completo
3,Karem Nepomuceno,12,Vilhena,RO,F,Ensino Médio
4,Ana Clara Nepomuceno,18,Belo Horizonte,MG,F,Superior Completo
5,Paula vieira,45,Rio de Janeiro,RJ,F,Ensino Médio
6,Ciro Nepomuceno,32,Araçuai,MG,M,Ensino Fundamental Incompleto
7,Maria Eduarda Nepomuceno,16,Curitiba,PR,F,Ensino Médio
8,JOse Caçdeira,73,Araçuai,MG,M,Ensino Fundamental Incompleto
9,Augusta Ribeiro,70,Araçuai,MG,F,Ensino Fundamental Incompleto

In [70]:
df["idade"]>=18

0     True
1     True
2     True
3    False
4     True
5     True
6     True
7    False
8     True
9     True
Name: idade, dtype: bool

In [71]:
ages= pd.Series([ 45, 48, 25, 12, 18, 45, 80, 16, 73, 70], name="idade")
ages

0    45
1    48
2    25
3    12
4    18
5    45
6    80
7    16
8    73
9    70
Name: idade, dtype: int64

#fazendo alguns analise com o DataFrame criado com a biblioteca `pandas` do `Python`.

In [72]:
df["idade"].max()

np.int64(73)

In [73]:
# Estatisticas descritivas
df.describe()

           idade
count  10.000000
mean   38.400000
std    21.629198
min    12.000000
25%    19.750000
50%    38.500000
75%    47.250000
max    73.000000

# Como ler os dados tabulares.

In [74]:
titanic = pd.read_csv("//nepomuceno/Users/Usuario/estudo-git/titanic_completa_oficial.csv")
titanic.head(10)

FileNotFoundError: [Errno 2] No such file or directory: '//nepomuceno/Users/Usuario/estudo-git/titanic_completa_oficial.csv'

In [ ]:
# lendo as 10 ultimas linhas do DataFrame
titanic.tail(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1299,3,0,"Yasbeck, Mr. Antoni",male,27,1,0,2659,14.4542,?,C,C,?,?
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,?,C,?,?,?
1301,3,0,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,?,C,?,312,?
1302,3,0,"Yousif, Mr. Wazli",male,?,0,0,2647,7.225,?,C,?,?,?
1303,3,0,"Yousseff, Mr. Gerious",male,?,0,0,2627,14.4583,?,C,?,?,?
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?

`Atributos não exixgem parênteses. E metodo sim`.

In [ ]:
# intepretando tipos de dados
titanic.dtypes

pclass        int64
survived      int64
name         object
sex          object
age          object
sibsp         int64
parch         int64
ticket       object
fare         object
cabin        object
embarked     object
boat         object
body         object
home.dest    object
dtype: object

In [ ]:
# Salvando o DataFrame em um arquivo Excel. porem é necessario instalar a biblioteca openpyxl
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)